@use "../../scss/variables" as *;

.li-interaction__todo-editing {
	background-color: $white;
}

.li-interaction__todo-delete {
	background-color: $white;
}

.li-interaction__todo-editing__svg:active {
	transform: scale(0.85);
	&:active path {
		stroke: $primary;
	}
}

.li-interaction__todo-delete__svg:active {
	transform: scale(0.85);
	&:active path {
		stroke: red;
	}
}

.todo-list__span {
	text-decoration: none;
	color: $black;
}

.todo-title--completed {
	text-decoration: line-through;
	color: rgb(153 147 147 / 50%);
}
