@use "../../scss/variables" as *;
.overlay {
	position: fixed;
	background-color: rgba(61, 61, 61, 0.795);
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.todo-add__general-box {
	background-color: $white;
	width: 550px;
	height: 307px;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 16px;
	z-index: 2;
	border: 1px solid var(--borderWhite);
}
.todo-add__title {
	display: flex;
	justify-content: center;
	padding: 18px 0px 25px 0px;
}

.todo-add__input {
	padding-left: 10px;
	width: 440px;
	margin-bottom: 128px;
	color: var(--inputText);
	border: 2px solid var(--inputText);

	&--error {
		border: 1px solid $error !important;

		&:focus {
			-webkit-box-shadow: -1px 0px 15px 8px rgba(214, 8, 8, 0.42);
			-moz-box-shadow: -1px 0px 15px 8px rgba(226, 70, 31, 0.42);
			box-shadow: -1px 0px 15px 8px rgba(204, 21, 8, 0.42);
			border: 2px solid $primary;
			outline: none;
		}
	}
}
.todo-add__btn-box {
	display: flex;
	justify-content: space-between;
}
.todo-add__btn {
	width: 110px;
	height: 38px;
	&:active {
		transform: scale(0.9);
	}
}

.btn-left {
	border: 1px solid $primary;
	background-color: $white;
	color: $primary;
}

.btn-right {
	color: $btnCol;
}
.todo__error-message {
	top: 120px;
	left: 56px;
	height: 10px;
}
