@use "../../scss/variables" as *;
.todo-search__block {
	display: flex;
	gap: 16px;

	&-input {
		padding-left: 16px;
		width: 595px;
		color: var(--inputText);
	}

	&-svg {
		position: absolute;
		right: 10px;
		top: 8.5px;
		cursor: pointer;
		filter: var(--filter);
	}
	&-svg:active {
		transform: scale(0.8);
	}
}
