@use "./_variables" as *;
.general-wrapper {
	height: 100%;
	position: relative;
}
.wrapper {
	min-height: 100%;
}
.wrapper-active {
	background-color: rgba(61, 61, 61, 0.795);
}
.container {
	margin: 0 auto;
	max-width: 787px;
	max-height: 100%;
	position: relative;
}

.todo-title {
	font-size: 26px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 18px;
}

.input-svg {
	position: relative;
}

.todo-list {
	padding-top: 30px;
	display: flex;
	justify-content: center;

	&__new-todo {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}

	&__input {
		appearance: none;
		-webkit-appearance: none;
		width: 20px;
		height: 20px;
		border: 2px solid $primary;
		border-radius: 4px;
		outline: none;
		cursor: pointer;
		position: relative;
		background-color: white;

		&:checked {
			background-color: $primary;
			border-color: $primary;

			&::after {
				content: "✓";
				position: absolute;
				color: white;
				font-size: 14px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.li-interaction {
	display: flex;
	gap: 10px;
}
